:root {
  --dark-blue: #558dca;
  --light-blue: #adc5d8;
  --light-grey: #e5e5e5;
  --purple-button: #5a00d1;
  --darker-blue: #3a6ca1;
  --dark-grey-labels: #222;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: var(--light-blue);
}

/*////////////////////////////////////*/
/*=============== MAIN ===============*/
/*////////////////////////////////////*/
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.image-container {
  flex: 1;
  max-width: 350px;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.image-container-phone {
  flex: 1;
  max-width: 350px;
  margin-top: 30px;
  display: none;
}
.image-container-phone img {
  width: 100%;
  height: auto;
}
.text-container {
  display: flex;
  flex: 2;
  text-align: center;
  max-width: 800px;
  flex-direction: column;
  gap: 25px;
}
.text-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.text-container h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}
.cta-button {
  display: inline-block;
  padding: 16px 30px;
  background-color: var(--dark-blue);
  color: white;
  font-weight: 700;
  font-size: 36px;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  transition: background 0.3s;
  width: fit-content;
  align-self: center;
}
.cta-button:hover {
  background-color: var(--purple-button);
}

/*////////////////////////////////////*/
/*============= SERVICES =============*/
/*////////////////////////////////////*/
.animationsSection {
  padding: 40px 20px;
}
.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imageGrid a {
  margin: 0 auto;
}

/*////////////////////////////////////*/
/*============== ABOUT ===============*/
/*////////////////////////////////////*/
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-text-container {
  display: flex;
  flex: 2;
  text-align: center;
  max-width: 1500px;
  flex-direction: column;
}
.aboutSection h1 {
  font-size: 48px;
  margin-bottom: 0;
}
.aboutSection p {
  font-size: 36px;
  text-align: center;
  padding: 0 16px;
  margin: 0;
}
.aboutFAQContainer {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.aboutFAQContainer p {
  text-align: left;
  font-size: 24px;
}
.aboutFAQs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
}
.aboutfaqItem {
  background-color: var(--dark-blue);
  color: white;
  border-radius: 20px;
  margin-bottom: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.aboutfaqToggle {
  width: 100%;
  padding: 24px;
  text-align: left;
  background: none;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  padding-right: 32px;
}
.aboutfaqToggle:hover {
  background-color: var(--darker-blue);
  text-decoration: underline;
}
.aboutfaqToggle::after {
  content: "▶";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}
.aboutfaqContent {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  transition: max-height 0.4s ease, padding 0.4s ease;
}
.aboutfaqItem.open .aboutfaqContent {
  padding: 0 16px 16px;
  max-height: 500px;
}
.aboutfaqItem.open .aboutfaqToggle::after {
  transform: translateY(-50%) rotate(-90deg);
}
.aboutFAQImage {
  flex: 1 1 300px;
  max-width: 600px;
}
.aboutFAQImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

/*////////////////////////////////////*/
/*=============== FAQ ================*/
/*////////////////////////////////////*/
.FAQSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FAQ-text-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.FAQ-text-container h1 {
  font-size: 48px;
}
.FAQ-text-container .mobilefaq {
  display: none;
}
.FAQContainer {
  display: flex;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;
}
.FAQContainer p {
  text-align: left;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
}
.FAQs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 100%;
}
.faqWrapper {
  width: 100%;
}
.faqItem {
  background-color: white;
  color: black;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faqToggle {
  width: 100%;
  padding: 32px;
  text-align: left;
  background: none;
  border: none;
  font-weight: bold;
  color: black;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  padding-right: 32px;
}
.faqToggle::after {
  content: "▶";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}
.faqContent {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  transition: max-height 0.4s ease, padding 0.4s ease;
  flex-grow: 1;
}
.faqItem.open .faqContent {
  padding: 0 16px 16px;
  max-height: 500px;
}
.faqItem.open .faqToggle::after {
  transform: translateY(-50%) rotate(-90deg);
}

/*////////////////////////////////////*/
/*=============== FORM ===============*/
/*////////////////////////////////////*/
.formSection {
  padding: 40px 20px;
}
.formSection h1 {
  font-size: 48px;
  justify-self: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
}
.formRow {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.formGroup label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  color: var(--dark-grey-labels);
}
.formGroup input {
  padding: 32px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
.fullWidth {
  width: 100%;
}

/*////////////////////////////////////*/
/*============= INTERESTS ============*/
/*////////////////////////////////////*/
.interestSection {
  margin-top: 40px;
}
.interestSection h1 {
  font-size: 48px;
  text-align: center;
}
.interestGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-width: 250px;
  margin-left: 50px;
}
.customRadio {
  display: flex;
  align-items: center;
  font-size: 36px;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}
.customRadio input[type="radio"] {
  display: none;
}
.customRadio .checkmark {
  height: 24px;
  width: 24px;
  border-radius: 6px;
  border: 2px solid var(--dark-blue);
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
.customRadio input[type="radio"]:checked + .checkmark {
  background-color: var(--dark-blue);
}
.customRadio input[type="radio"]:checked + .checkmark::after {
  content: "✔";
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 16px;
  color: white;
}
.sideInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 300px;
}
.sideInputs .formGroup label {
  font-size: 32px;
}
.sideInputs .formGroup input {
  padding: 32px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 100%;
}
.submitButton {
  align-self: flex-end;
  padding: 12px 24px;
  background-color: var(--dark-blue);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}
.submitButton:hover {
  background-color: var(--purple-button);
}

/*////////////////////////////////////*/
/*============= REVIEWS ==============*/
/*////////////////////////////////////*/
.ReviewSection {
  text-align: center;
}
.ReviewSection {
  font-size: 48px;
}
.ReviewContainer {
  justify-content: center;
  align-items: center;
  height: 80vh;
}
/* .card__container {
  padding-block: 5rem;
} */
.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  height: 600px;
}
.card__article {
  position: relative;
  border-radius: 10%;
  background-color: white;
  transition: transform 0.4s ease;
  height: fit-content;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__article.swiper-slide {
  transform: scale(0.9);
}
.card__article.swiper-slide-active {
  transform: scale(0.9);
}
.card__article.swiper-slide-next {
  transform: scale(1.05);
}
.card__article.swiper-slide-prev {
  transform: scale(0.9);
}
.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}
.card__name {
  font-size: 20px;
  color: var(--second-color);
  margin-bottom: 0.75rem;
  text-align: left;
}
.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
  text-align: left;
  font-size: 14px;
}

/*////////////////////////////////////*/
/*========== SWIPER CLASS ============*/
/*////////////////////////////////////*/
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}
.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: block;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}
/*////////////////////////////////////*/
/*============= DIVIDER ==============*/
/*////////////////////////////////////*/
.dividerWithoutText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-weight: bold;
  content: "";
  border-top: 2px solid #333;
  margin-right: 10px;
}
.dividerWithText {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-weight: bold;
  font-size: 32px;
}
.dividerWithText::before {
  content: "";
  flex: 1; /* 25% */
  border-top: 2px solid #333;
  margin-right: 10px;
}
.dividerWithText::after {
  content: "";
  flex: 3; /* 75% */
  border-top: 2px solid #333;
  margin-left: 10px;
}
.badge {
  position: absolute;
  top: -100px;
  left: 30px;
  color: black;
  padding: 4px 8px;
  font-size: 300px;
  font-weight: 600;
  z-index: 100000 !important;
}

/*////////////////////////////////////*/
/*========= CARS TRANSFORM ===========*/
/*////////////////////////////////////*/
@media screen and (max-width: 1120px) {
  .card__container {
    max-width: 90%;
  }
  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
  .card__article.swiper-slide {
    transform: scale(0.9);
  }
  .card__article.swiper-slide-active {
    transform: scale(1);
  }
  .card__article.swiper-slide-next {
    transform: scale(0.9);
  }
  .card__article.swiper-slide-prev {
    transform: scale(0.9);
  }
}

/*////////////////////////////////////*/
/*============= < 1024px =============*/
/*////////////////////////////////////*/
@media (max-width: 1024px) {
  /*////////////////////////////////////*/
  /*============= ABOUT ================*/
  /*////////////////////////////////////*/
  .aboutFAQContainer {
    flex-direction: column;
  }
  .aboutFAQs {
    width: auto;
  }
  .faqToggle {
    font-size: 28px;
  }

  /*////////////////////////////////////*/
  /*============ REVIEWS ================*/
  /*////////////////////////////////////*/
  .card__article {
    border-radius: 50px;
    height: fit-content;
    min-height: auto;
  }
}

@media (max-width: 768px) {
  /*////////////////////////////////////*/
  /*============== MAIN ================*/
  /*////////////////////////////////////*/
  .image-container {
    display: none;
  }
  .image-container-phone {
    display: block;
  }

  /*////////////////////////////////////*/
  /*============ SERVICES ==============*/
  /*////////////////////////////////////*/
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .imageGrid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  /*////////////////////////////////////*/
  /*============= ABOUT ================*/
  /*////////////////////////////////////*/
  .aboutSection p {
    font-size: 14px;
    padding: 0;
  }
  .aboutfaqToggle {
    font-size: 16px;
  }

  /*////////////////////////////////////*/
  /*============== FAQ =================*/
  /*////////////////////////////////////*/
  .faqItem {
    flex: 0 1 100%;
  }
  .FAQs {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .faqToggle {
    font-size: 24px;
  }
  .faqContent p {
    font-size: 16px;
  }
  .checkboxes {
    margin-left: 0;
  }
  .FAQ-text-container h1 {
    display: none;
  }
  .FAQ-text-container .mobilefaq {
    display: block;
  }

  /*////////////////////////////////////*/
  /*============ INTERESTS =============*/
  /*////////////////////////////////////*/
  .formGroup label {
    font-size: 28px;
  }
  .formGroup input {
    padding: 24px;
  }
  .sideInputs .formGroup label {
    font-size: 28px;
  }
  .sideInputs .formGroup input {
    padding: 24px;
  }

  /*////////////////////////////////////*/
  /*============ REVIEWS ===============*/
  /*////////////////////////////////////*/
  .card__content {
    margin-inline: 3rem;
  }
}

@media (max-width: 430px) {
  .footer-nav a {
    font-size: 20px;
  }
  .badge {
    display: none;
  }
}
@media (max-width: 375px) {
  .ReviewContainer {
    height: auto;
  }
  .card__data {
    padding: 1rem;
  }
}
