/*////////////////////////////////////*/
/*============= FOOTER ==============*/
/*////////////////////////////////////*/
.footer {
  background-color: var(--dark-blue);
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 32px;
  font-weight: 600;
}
.footer-logo img {
  height: 120px;
}
.footer-nav {
  display: flex;
  gap: 32px;
  font-size: 20px;
}
.footer-nav a {
  font-size: 48px;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
}
.footer-nav a:hover {
  color: var(--purple-button);
  opacity: 0.8;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-social {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px 50px;
}
.social-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon + span {
  font-size: 32px;
}
.social-icon.youtube::before {
  content: "▶";
  font-size: 16px;
  color: var(--dark-blue);
}
.social-icon.linkedin::before {
  content: "in";
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-blue);
}
.social-icon.instagram::before {
  content: "📸";
  font-size: 16px;
}
.social-icon.tiktok::before {
  content: "🎵";
  font-size: 16px;
}

@media (max-width: 1024px) {
  /*////////////////////////////////////*/
  /*============ FOOTER ================*/
  /*////////////////////////////////////*/
  .footer-right {
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  /*////////////////////////////////////*/
  /*============ FOOTER ================*/
  /*////////////////////////////////////*/
  .footer-right {
    margin-top: 5%;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-logo img {
    height: 40px;
  }
  .footer-nav a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  .footer-right {
    padding: 20px;
  }
  .social-icon + span {
    font-size: 5vw;
  }
  .social-icon {
    width: 8vw;
    height: 8vw;
  }
}
@media (max-width: 430px) {
  .footer-nav a {
    font-size: 20px;
  }
}
